$color-blue: blue;
$font-xlarge: 60px;

/* p {
    color: $color-blue;
    font-size: $font-xlarge;
}
 */

.para {
    color: $color-blue;
    font-size: $font-xlarge;
}

.card-width {
    width: 30rem;
   
}